{% render "bms.account-init", customer: customer %} 

<div class="main">
  <div class="container">
    <div class="account-row">
      <h3>{{ 'customer.account.greeting' | t }} {{ customer.first_name }} {{ customer.last_name }}</h3>
      <div class="sidebar">

        <ul>
          <li class="active">
            <a href="/account">{{ 'customer.account.my_account' | t }}</a>
          </li>

          <li>
            <a href="/account?view=order">{{ 'customer.account.order_history' | t }}</a>
          </li>
        </ul>

        <div class="cta-holder">
          <a href="/account/logout">{{ 'customer.account.sign_out' | t }}</a>
        </div><!-- /.cta-holder -->
      </div><!-- /.sidebar -->
      
      <div class="content">
        <h5>{{ 'customer.account.info' | t }}</h5>

        <p>
          {{ customer.first_name }} {{ customer.last_name }}<br>
          <a href="mailto:{{ customer.email }}">{{ customer.email }}</a>
        </p>
      </div><!-- /.content -->
    </div><!-- /.account-row -->
  </div><!-- /.container -->

</div><!-- /.main -->
