<div class="main">
  <div class="container">
    <div class="account-row">
      <div class="sidebar">
        <h4>{{ 'customer.account.my_account' | t }} /</h4>
        <h3>{{ 'customer.account.order_history' | t }}</h3>

        <ul>
          <li>
            <a href="/account">{{ 'customer.account.my_account' | t }}</a>
          </li>

          <li class="active">
            <a href="/account?view=order">{{ 'customer.account.order_history' | t }}</a>
          </li>
        </ul>

        <div class="cta-holder">
          <a href="/account/logout">{{ 'customer.account.sign_out' | t }}</a>
        </div><!-- /.cta-holder -->
      </div><!-- /.sidebar -->
      
      <div class="content">
        <h5>{{ 'customer.account.order_history' | t }}</h5>
        {% paginate customer.orders by 20 %}
          {% if customer.orders.size != 0 %}

            <table class="responsive-table">
              <thead>
                <tr>
                  <th>{{ 'customer.orders.order_number' | t }}</th>
                  <th>{{ 'customer.orders.date' | t }}</th>
                  <th>{{ 'customer.orders.payment_status' | t }}</th>
                  <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
                  <th>{{ 'customer.orders.total' | t }}</th>
                </tr>
              </thead>
              <tbody>
                {% for order in customer.orders %}
                  <tr>
                    <td data-label="{{ 'customer.orders.order_number' | t }}">
                      <a href="{{ order.customer_url }}">{{ order.name }}</a>
                    </td>
                    <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
                    <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                    <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                    <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          {% else %}

            <p>{{ 'customer.orders.none' | t }}</p>

          {% endif %}
          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
        {% endpaginate %}
      </div><!-- /.content -->
    </div><!-- /.account-row -->
  </div><!-- /.container -->

</div><!-- /.main -->
