<a class="d-flex flex-column align-items-center justify-content-center" href="{{ line_item.url }}">
  <img src="{{ line_item.image | img_url: '400x' }}" alt="{{ line_item.image.alt }}" width="{{ line_item.image.width }}" height="{{ line_item.image.height }}" loading="lazy" />
</a>