{%- assign _blocks = section.blocks -%}

{%- if _blocks != blank -%}
  <div class="intro">
    <div class="intro__slider">
      {%- for _block in _blocks -%}
        {% assign _settings = _block.settings %}
        <div class="intro__slide block-{{ _block.id }}">
          <a href="{{ _settings.button_link }}" data-desktop="{{ _settings.image | img_url: '2048x' }}" data-mobile="{{ _settings.mobile_image | img_url: '600x' }}">
            <div class="bms-intro__text">
              <h2 class="intro__text-heading">{{ _settings.title }}</h2>
              <span class="intro__text-button btn">{{ _settings.button_label }}</span>
            </div>

          </a>

          <style>
            {% assign mobile_up = "769px" %}

            .intro .intro__slide.block-{{ _block.id }} {
                background-color: {{ _settings.mobile_background_colour }};
                background-image: url("{{ _settings.mobile_image | img_url: 'master' }}");
                background-repeat: no-repeat;
                background-size: {{ _settings.mobile_image_size }};
                background-position: {{ _settings.mobile_image_position }};
              }
            .intro .intro__slide.block-{{ _block.id }} .bms-intro__text {
              {% if _settings.mobile_vert_text_align == 'top' %}
              top: 0;
              {% elsif _settings.mobile_vert_text_align == 'middle' %}
              top: 50%;
              transform: translateY(-50%);
              {% elsif _settings.mobile_vert_text_align == 'bottom' %}
              bottom: 0;
              {% endif %}
              left: 2.5%;
              width: 95%;
              align-items: {{ _settings.mobile_text_align }};
              background-color: {{ _settings.mobile_text_background_colour }};
              color: {{ _settings.mobile_text_colour }};
            }

            @media screen and (min-width: {{ mobile_up }}) {
              .intro .intro__slide.block-{{ _block.id }} {
                background-color: {{ _settings.desktop_background_colour }};
                background-image: url("{{ _settings.desktop_image | img_url: 'master' }}");
                background-size: {{ _settings.desktop_image_size }};
                background-position: {{ _settings.desktop_image_position }};
              }
              .intro .intro__slide.block-{{ _block.id }} .bms-intro__text {
                {% if _settings.desktop_text_section_size == 'small' %}
                width: 23%;
                {% elsif _settings.desktop_text_section_size == 'medium' %}
                width: 48%;
                {% elsif _settings.desktop_text_section_size == 'large' %}
                width: 73%;
                {% endif %}
                padding: 1%;

                {% if _settings.desktop_text_position contains 'left' %}
                left: 0;
                right: auto;
                {% elsif _settings.desktop_text_position contains 'right' %}
                right: 0;
                left: auto;
                {% else %}
                left: 50%;
                transform: translateX(-50%){% if _settings.desktop_text_position contains 'middle' %} translateY(-50%){% endif %};
                {% endif %}

                {% if _settings.desktop_text_position contains 'top' %}
                top: 0;
                bottom: auto;
                {% elsif _settings.desktop_text_position contains 'bottom' %}
                bottom: 0;
                top: auto;
                {% else %}
                top: 50%;
                {% unless _settings.desktop_text_position contains 'center' %}transform: translateY(-50%){% endunless %};
                {% endif %}
                align-items: {{ _settings.desktop_text_align }};
                background-color: {{ _settings.desktop_text_background_colour }};
                color: {{ _settings.desktop_text_colour }};
              }
            }

            .intro .intro__slide.block-{{ _block.id }} .bms-intro__text .intro__text-heading {
              color: inherit;
              font-size: {{ _settings.title_size }}vw;
            }

            .intro .intro__slide.block-{{ _block.id }} .bms-intro__text .intro__text-button {
              color: {{ _settings.button_color }};
              background-color: {{ _settings.button_background_color }};
            }

            @media screen and (max-width: {{ mobile_up }}) {
              .intro .intro__slide.block-{{ _block.id }} .bms-intro__text .intro__text-heading {
                font-size: {{ _settings.title_size_mobile }}vw;
              }
            }
          </style>
        </div><!-- /.intro__slide -->
      {%- endfor -%}
    </div><!-- /.intro__slider -->
  </div><!-- /.intro -->
{%- endif -%}

{{ 'intro-slider.scss.css' | asset_url | stylesheet_tag }}


{% schema %}
{
  "name": "Intro Slider",
  "settings": [
      {
        "type": "range",
        "id": "height",
        "min": 250,
        "max": 600,
        "step": 50,
        "unit": "px",
        "label": "Mobiel Height",
        "default": 400
      }
  ],
  "blocks": [
    {
      "type": "Slider",
      "name": "Slide",
      "settings": [
        {
          "type": "header",
          "content": "Desktop Settings"
        },
        {
          "type": "image_picker",
          "id": "desktop_image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "desktop_image_size",
          "label": "Image size",
          "options": [
            { "value": "auto", "label": "Auto - No resizing" },
            { "value": "50% 100%", "label": "50% width, 100% height" },
            { "value": "50% auto", "label": "50% width, auto height"},
            { "value": "contain", "label": "Fill space but do not crop" },
            { "value": "cover", "label": "Cover entire space, crop if needed" }
          ],
          "default": "50% auto"
        },
        {
          "type": "select",
          "id": "desktop_image_position",
          "label": "Image position",
          "options": [
            { "value": "top left", "label": "Top Left" },
            { "value": "top center", "label": "Top Center" },
            { "value": "top right", "label": "Top Right" },
            { "value": "center left", "label": "Middle Left" },
            { "value": "center center", "label": "Middle Center" },
            { "value": "center right", "label": "Middle Right" },
            { "value": "bottom left", "label": "Bottom Left" },
            { "value": "bottom center", "label": "Bottom Center" },
            { "value": "bottom right", "label": "Bottom Right" }
          ],
          "default": "top right",
          "info": "Only applies if 'size' is not set to cover entire space"
        },
        {
          "type": "select",
          "id": "desktop_text_section_size",
          "label": "Text Container Size",
          "options": [
            { "value": "small", "label": "Small" },
            { "value": "medium", "label": "Medium" },
            { "value": "large", "label": "Large" }
          ],
          "default": "medium"
        },
        {
          "type": "select",
          "id": "desktop_text_position",
          "label": "Text position",
          "options": [
            { "value": "top left", "label": "Top Left" },
            { "value": "top center", "label": "Top Center" },
            { "value": "top right", "label": "Top Right" },
            { "value": "middle left", "label": "Middle Left" },
            { "value": "middle center", "label": "Middle Center" },
            { "value": "middle right", "label": "Middle Right" },
            { "value": "bottom left", "label": "Bottom Left" },
            { "value": "bottom center", "label": "Bottom Center" },
            { "value": "bottom right", "label": "Bottom Right" }
          ],
          "default": "middle left"
        },
        {
          "type": "select",
          "id": "desktop_text_align",
          "label": "Text alignment (within text container)",
          "options": [
            { "value": "center", "label": "Center" },
            { "value": "flex-end", "label": "Right" },
            { "value": "flex-start", "label": "Left" }
          ],
          "default": "center"
        },    
        {
          "type": "color",
          "id": "desktop_background_colour",
          "label": "Background Color",
          "default": "#1b59b2"
        },
        {
          "type": "color",
          "id": "desktop_text_colour",
          "label": "Text Color",
          "default": "#FFF"
        },
        { 
          "type": "color",
          "id": "desktop_text_background_colour",
          "label": "Text Background Color",
          "default": "transparent"
        },
        {
          "type": "header",
          "content": "Mobile Settings"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "select",
          "id": "mobile_image_size",
          "label": "Image size",
          "options": [
            { "value": "auto", "label": "Auto - No resizing" },
            { "value": "100% 50%", "label": "50% height, full width" },
            { "value": "auto 50%", "label": "50% height, auto width"},
            { "value": "contain", "label": "Fill space but do not crop" },
            { "value": "cover", "label": "Cover entire space, crop if needed" }
          ],
          "default": "auto 50%"
        },
        {
          "type": "select",
          "id": "mobile_image_position",
          "label": "Image position",
          "options": [
            { "value": "top left", "label": "Top Left" },
            { "value": "top center", "label": "Top Center" },
            { "value": "top right", "label": "Top Right" },
            { "value": "center left", "label": "Middle Left" },
            { "value": "center center", "label": "Middle Center" },
            { "value": "center right", "label": "Middle Right" },
            { "value": "bottom left", "label": "Bottom Left" },
            { "value": "bottom center", "label": "Bottom Center" },
            { "value": "bottom right", "label": "Bottom Right" }
          ],
          "default": "top center",
          "info": "Only applies if 'size' is not set to cover entire space"
        },
        {
          "type": "select",
          "id": "mobile_vert_text_align",
          "label": "Text Container Alignment",
          "options": [
            { "value": "top", "label": "Top" },
            { "value": "middle", "label": "Middle" },
            { "value": "bottom", "label": "Bottom" }
          ],
          "default": "top"
        },
        {
          "type": "select",
          "id": "mobile_text_align",
          "label": "Text alignment (within text container)",
          "options": [
            { "value": "center", "label": "Center" },
            { "value": "flex-end", "label": "Right" },
            { "value": "flex-start", "label": "Left" }
          ],
          "default": "center"
        },
        
        { 
          "type": "color",
          "id": "mobile_background_colour",
          "label": "Background Color",
          "default": "#1b59b2"
        },
        { 
          "type": "color",
          "id": "mobile_text_colour",
          "label": "Text Color",
          "default": "#FFF"
        },
        { 
          "type": "color",
          "id": "mobile_text_background_colour",
          "label": "Text Background Color",
          "default": "transparent"
        },
        {
          "type": "header",
          "content": "Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Gear up for a new season"
        },
        {
          "type": "range",
          "id": "title_size",
          "label": "Font Size of the title",
          "min": 1.0,
          "max": 9.0,
          "step": 0.1,
          "unit": "vw",
          "default": 5.9
        },
        {
          "type": "range",
          "id": "title_size_mobile",
          "label": "Font Size of the title (Mobile)",
          "min": 1.0,
          "max": 9.0,
          "step": 0.1,
          "unit": "vw",
          "default": 5.9
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        },
        {
          "type": "color",
          "id": "button_color",
          "label": "Color of the button text",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "Background color of the button",
          "default": "#000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Intro Slider",
      "category": "Sliders"
    }
  ]
}
{% endschema %}
