{{ "bms.product.scss.css" | asset_url | stylesheet_tag }}
{% include 'bold-pre-order' %}
{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
{% include 'bold-sticky-shipping-bar' %}
<div class="main">
    <div class="product-holder">
        <div class="product-images">
            {%- include 'breadcrumbs' -%}

                <div class="product-images-holder{%- if product.images.size <= 1 -%} single-image{% endif %}">

                <div class="featured__images">
                    <ul>
                        {%- for image in product.images -%}
                            <li class="zoom-image" data-zoom-src="{{ image | img_url: 'original' }}">
                                <img
                                    src="{{ image | img_url: '2048x' }}"
                                    alt="{{ image.alt }}"
                                    width="{{ image.width }}"
                                    height="{{ image.height }}"
                                    loading="lazy" />
                            </li>
                        {%- endfor -%}
                    </ul>
                </div>
                <!-- /.featured__images -->
                {%- if product.images.size > 1 -%}
                    <div class="product__thumbs">
                        <ul>
                            {%- for image in product.images -%}
                                {%- if forloop.index0 == 0 -%}
                                    {%- assign li_class = 'active' -%}
                                {%- else -%}
                                    {%- assign li_class = '' -%}
                                {%- endif -%}

                                <li class="{{ li_class }}">
                                    <a href="#">
                                        <img
                                            src="{{ image | img_url: '100x100' }}"
                                            alt="{{ image.alt }}"
                                            width="{{ image.width }}"
                                            height="{{ image.height }}"
                                            loading="lazy" />
                                    </a>
                                </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                    <!-- /.product__thumbs -->
                {%- endif -%}
            </div>
            <!-- /.product-images-holder -->
        </div>
        <!-- /.product-images -->

        <div class="product-description">
            <div class="inner">
                {%- assign low_quantity = settings.low_quantity_number -%}
                <h5 class="availability" data-low_quantity="{{ low_quantity }}">{{ 'general.product.low_quantity' | t }}</h5>
                <!-- /.availability -->

                {% if preOrderText != blank %}
                    <h5 class="availability">
                        {{ preOrderText }}
                    </h5>
                {% endif %}
                <h2>
                    {{ product.title }}
                </h2>
                {% render 'okendo-reviews-product-rating-summary', product: product %}
                <div class="price">
                    <span class="sale-price">{{ bold_variant_price | money }}</span>
                    {%- if bold_compare_at_price_max > 0 -%}
                        <span class="compare-price">{{ bold_compare_at_price_max | money }}</span>
                    {%- endif -%}
                </div>
                <!-- /.price -->

                {%- include 'product-form' -%}

                {%- include 'share' -%}
            </div>
            <!-- /.inner -->
        </div>
        <!-- /.product-description -->
    </div>
    <!-- /.product-holder -->


    <div class="main-description">
        <div class="container">
            {{ product.content }}
        </div>
        <!-- /.container -->
    </div>
    <!-- /.main-description -->
    {% render 'okendo-reviews-media-grid-product' %}
    {% render 'okendo-reviews-widget', product: product %}
    <div class="related-products">
        <div class="container">
            <h2>
                {{ 'general.product.related' | t }}
            </h2>

            {%- assign _collection = product.collections[0] -%}

            <div class="products-row">
                <ul class="products-list">
                    {%- assign index = 0 -%}
                    {%- for related_product in _collection.products -%}
                        {%- if related_product.id != product.id -%}
                            {% include "product-item", product_item: related_product %}
                            {%- assign index = index | plus: 1 -%}
                        {%- endif -%}

                        {%- if index > 3 -%}
                            {%- break -%}
                        {%- endif -%}
                    {%- endfor -%}
                </ul>
            </div>
            <!-- /.products-row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.related-products -->
</div>
<!-- /.main -->
{% render 'product_infox' %}

{% style %}
    .product-images img {
        width: 100%;
        height: 100%;
    }
{% endstyle %}